.drop-zone {
  border: 1px dashed var(--stroke-default);
  padding: 1.7rem 1rem;
  display: grid;
  justify-items: center;
  text-align: center;
  position: relative;
  transition: all 250ms;
  border-radius: 0.25rem;
  color: #a8a29e;

  & p{
    margin-top: .5rem;
  }

  & input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:has(:focus) {
    border-color: var(--stroke-highlight);
    background: var(--surface-secondary);

    & p {
      color: var(--text-tertiary);
    }

    & svg path {
      stroke: var(--stroke-highlight);
    }

  }
}
