@import url(../styles/fields/index.css);

form{
  margin-top: 2.5rem;
}

fieldset{
  border: none;
  display: grid;
  gap: 1.5rem;
}

legend{
  color: var(--text-primary);
  margin-bottom: 1.5rem;
  font: var(--h4);
}